.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre Inicio y el Buscador */
  flex-grow: 1;
  margin-left: 40px;
}

.header__search-input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 250px;
}

.header__link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.header__button {
  background-color: #30486e;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}